.bl{
    background: #fff;
}

.datos{
    width: 30%;
    border-radius: 15px;
    
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.datos:nth-child(1), .datos:nth-child(2){
    background:#3BBF45;
}

.datos:nth-child(3){
    background:#154D92;
}

.display-4{
    font-size: 1.3rem !important;
}

.tab-cot{
    margin-top: 2rem !important;
    box-shadow: none !important;
    background: none !important;
    border-radius: 0 !important;
}

.sb {
    border: none !important;
}

.bor {
    border: 1px solid !important;
}

.table td, .table th, .bor-non {
    padding: .75rem;
    vertical-align: top;
    border-top: none !important;
    border-right: none !important;
}

.table-bordered thead td, .table-bordered thead th{
    border-bottom-width: 1px !important;
}

.cam{
    width: 60px;
    height: 60px;
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

label{
    margin-top: .5rem;
}

input.fec{
    width: 80% !important;
}

.bus{
    margin-left: 4.2rem;
    width: 200px !important;
}

.cliente{
    height: 150px;
    border-radius: 15px;
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.desta{
    border-radius: 15px;
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.inter{
    margin: 0;
    margin-top: 20px;
    margin-left: 20px;
    color:#fff;
    font-size: 1.5rem;
}

.up{
    width: 52px;
    margin-bottom: 23px;
}

.detalles{
    color: #fff;
    font-size: 4rem;
    font-weight: 500;
    float: right;
    margin-right: 40px;
    padding-bottom: 20px;
}

.detalles-down{
    color: #fff;
    font-size: 4rem;
    font-weight: 500;
    float: right;
    margin-right: 40px;
    padding-bottom: 20px;
}

.fond-tab{
    background:#fff !important;

}

.agregar{
    background-color: white !important;
    color: #000;
    border: none;
    border-radius: 15px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.agregar:disabled{color:#000;}

.tab{
    border-right: 1px solid !important;
}

table{
    margin-top: 1rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important; 
    border-radius: 15px;
    background: #fff;
}

.t-sb{
    vertical-align: bottom;
    border-bottom: none !important;
}

.tp{
    margin-left: 6rem;
}

.table .thead-light th {
    background-color: #154D92 !important;
    color: #fff;
}

.agregar:focus{
    color: #000;
}

.agregar:hover{
    color: #000;
    background-color: none !important;
}

.green{
    background: #3BBF45 !important;
    border: none;
}

.btn-accion{
    border-radius: 0px !important;
    margin-bottom: 4px;
}

.page-link{
    color: #154D92 !important;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.page-link:hover{
    background: #154D92 !important;
    color: #fff !important;
    transition: .8s ease-out; 
}

div.cliente > p{
    font-size: 2em !important;
}

div.cliente > p > span{
    color: #154D92;
}

.wi{
    width: 90% !important;
}

.for-mod{
    width: 100% !important;
}

.form-group {
    width: 100% !important;
}

.w-100{
    width: 100% !important;
}

.sp{
    width: 48% !important;
}

.contenedor{
    background: #fff;

}

@media (max-width: 500px){
    .movil{
        display: flex;
        justify-items: center;
        flex-direction: column;   
    }

    .datos{
        width: 90%;
        margin-bottom: 30px;
    }

    .up{
        margin-left: 9rem;
    }

}
